  <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder2 }}</ion-title>
  </ion-toolbar>
</ion-header>


  <ion-content>
  <cdk-virtual-scroll-viewport itemSize="56" minBufferPx="900" maxBufferPx="1350">
    <ion-list>
      <ion-item *cdkVirtualFor="let drink of list"  :href="/folder3/{{drink.idDrink}}">
        <ion-avatar slot="start">
          <img src="{{drink.strDrinkThumb}}"/>
        </ion-avatar>
        <ion-label>{{drink.strDrink}} </ion-label>
      </ion-item>
    </ion-list>
  </cdk-virtual-scroll-viewport>
</ion-content>


