<ion-header>
  <ion-toolbar>
    <ion-title>share-recipes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form action="" model="post">
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input type="text" name="name" [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Photo</ion-label>
      <ion-input type="" name="photo" [(ngModel)]="photo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Type</ion-label>
      <ion-select placeholder="Select One"  name="type" [(ngModel)]="type">
	<ion-select-option value="alcoholic">Alcoholic</ion-select-option>
	<ion-select-option value="AlcoholFree">Non-Alcoholic</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Category</ion-label>
      <ion-select placeholder="Select One" name="category" [(ngModel)]="category">
	<ion-select-option value="Ordinary">Ordinary Drink</ion-select-option>
	<ion-select-option value="Cocktail">Cocktail</ion-select-option>
	<ion-select-option value="MilkFloatShake">Milk/Float/Shake</ion-select-option>
	<ion-select-option value="OtherUnknown">Other/Unknown</ion-select-option>
	<ion-select-option value="Cocoa">Cocoa</ion-select-option>
	<ion-select-option value="Shot">Shot</ion-select-option>
	<ion-select-option value="CoffeeTea">Coffee/Tea</ion-select-option>
	<ion-select-option value="HomemadeLiqueur">Homemade Liqueur</ion-select-option>
	<ion-select-option value="PunchPartyDrink">Punch/PartyDrink</ion-select-option>
	<ion-select-option value="Beer">Beer</ion-select-option>
	<ion-select-option value="SoftDrinkSoda">Soft Drink/Soda</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Instructions</ion-label>
      <ion-input type="text" name="instructions" [(ngModel)]="instructions"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Ingredient 1</ion-label>
      <ion-input type="text" name="ingredient1" [(ngModel)]="ingredient1"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Ingredient2</ion-label>
      <ion-input type="text" name="ingredient2" [(ngModel)]="ingredient2"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" name="ingredient3" [(ngModel)]="ingredient3"></ion-input>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" name="ingredient4" [(ngModel)]="ingredient4"></ion-input>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" name="ingredient5" [(ngModel)]="ingredient5"></ion-input>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" name="ingredient6" [(ngModel)]="ingredient6"></ion-input>
      <ion-input></ion-input>
    </ion-item>
  </form>
</ion-content>
